src/main/mule/world-time-api_1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="99ca082d-421c-4e68-99c3-2f7e755b762c" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="9000" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="48360493-6afc-4393-9fe1-2a4375b60ee3" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-time-api_1Flow" doc:id="dc4e9182-53e1-47f0-b63f-621c2ea7bb5d" >
		<http:listener doc:name="Listener" doc:id="2be0806c-1f6d-455e-b1ed-09d7764089c4" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="096c0363-616c-4eb3-b107-c1104b19a547" config-ref="HTTP_Request_configuration" path="/{region}/{city}" sendCorrelationId="AUTO">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
